@import "variables";

body {
    .flex {
        padding: 0;
        margin: 0;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        height: 100%;
    }

    .with-menu {
        .wrapper {
            // Side menu is always 20em
            width: calc(100% - 20em);

            @media #{$bp-lg} {
                padding: 3.5rem 2.5rem 2.5rem 2.5rem;
            }

            @media #{$bp-xlg} {
                padding: 5rem 4rem 4rem 4rem;
            }
        }

        footer {
            left: 20em;
            width: calc(100% - 20em);
        }
    }

    .no-menu .wrapper {
        @media #{$bp-sm} {
            padding: 3.5rem 2.5rem 2.5rem 2.5rem;
        }

        @media #{$bp-sm-md} {
            padding: 5rem 4rem 4rem 4rem;
        }
    }

    .wrapper {
        z-index: $wrapper-index;
        width: 100%;
        background-color: $body-color;
        height: 100%;
        overflow: auto;
        position: relative;
        padding: 3.5rem 1rem 3rem 1rem;

        -webkit-transition: padding 1s ease, width 500ms ease;
        -moz-transition: padding 1s ease, width 500ms ease;
        -o-transition: padding 1s ease, width 500ms ease;
        transition: padding 1s ease, width 500ms ease;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        padding-bottom: .5rem;
        width: 100%;

        span {
            font-weight: bold;
            font-size: .9rem;
            color: #cccccc;
        }
    }
}
