@import "variables";

body {
	.flex.with-menu .side-menu {
		width: 20em;

		.mobile-menu span {
            background: rgba(0,0,0,0); 

            &:before {
                top: 0;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
            
            &:after {
                top: 0;
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
		}
	}

	.flex .side-menu {
		z-index: $sidemenu-index;
		position: relative;
		height: 100%;
		width: 0;
	    background-color: #d0d0d0;

	    -webkit-box-shadow: inset -10px 0 10px -5px #ABABAB;
	    -moz-box-shadow: inset -10px 0 10px -5px #ABABAB;
	    box-shadow: inset -10px 0 10px -5px #ABABAB;

	    @include transition(width, 500ms);

	    .menu-container {
			overflow: hidden;
	    	width: 100%;
	    }

	    .login-form .form-container { height: 0; }
	    .signup-form .form-container { height: 0; }

	    &.ln-active {
    	    .login-form .form-container { height: 7rem; }
    	    .signup-form .form-container { height: 0; }
	    }

	    &.sp-active {
    	    .login-form .form-container { height: 0; }
    	    .signup-form .form-container { height: 10rem; }
	    }

	    &.logged-in {

		    .profile-pic {
		    	display: block;
		    	text-align: center;
		    	margin-bottom: 1em;

		    	i {
		    		font-size: 5em;
		    		background-color: white;
		    		border-radius: 50%;
		    		color: $tertiary;
		    	}
		    }

		    .inner-menu .profile-des {
		    	text-align: center;

			    > h3 {
			    	margin-bottom: 0;
			    }

			    > span {
			    	color: $highlight-primary;
			    	cursor: pointer;
		    		font-size: .9em;
		    		font-weight: bold;

		    		&:hover {
		    			color: darken(#65be9a, 15%);
		    		}
			    }
		    }

	    }

	    .inner-menu {
    	    min-width: 20em;
	    	padding: 3em 1em 0 1em;

		    img.box {
	    	    width: 3.5em;
			    height: 3.5em;
			    display: block;
	    	    margin: 0 auto 1em auto;
		    }

    	    h3 {
    	    	text-align: center;
    	    	color: $tertiary;
    	    }

    	    .login-form,
    	    .signup-form {

		    	> button {
		    		display: block;
	    		    width: 100%;
	    			margin-bottom: 1em;
		    	}

		    	.form-container {
	    		    margin: 0 auto;
    				padding: 0 .5em;
    				overflow: hidden;

    				@include transition(height, 250ms);

		    		form {
	    			    padding-bottom: 2em;
    			    	box-sizing: border-box;

			    		button { 
						    margin: 0 0 0 .5em;
						    box-sizing: border-box;
			    		}

    			    	i { vertical-align: middle; }
		    		}

		    		.following-input {
		    			width: calc(100% - 3em - 0.5em)
		    		}

		    		.precede-input {
	    			    display: block;	
					    box-sizing: border-box;
					    width: 100%;
					    margin-bottom: 1em;
		    		}
		    	}
    	    }
	    }

	    .mobile-menu {
	        line-height: 0;
	        padding: 0;
	        position: absolute;
	        display: none;
	        width: 2em;
	        height: 2em;
	        cursor: pointer;
	        border-radius: 3pt;
	        color: $primary;
	        font-size: 1.5em;
	        top: 0;
            right: -2.3em;

	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        box-sizing: border-box;

	        @media #{$bp-sm} {
	        	display: block;
	        }

	        span {
	            background-color: white;

        	    @include transition(background-color, 250ms);

	            background-color: $tertiary;
	            content: '';
	            display: block;
	            border-radius: 2pt;
	            height: .15em;
	            position: absolute;
	            top: 1em;
	            left: .5em;
	            width: 1em;
	            margin: 0;
	            -moz-box-shadow: none;
	            -webkit-box-shadow: none;
	            box-shadow: none;

	            &:after,
	            &:before {
	                border-radius: 2pt;
	                background-color: $tertiary;
	                content: '';
	                display: block;
	                height: .15em;
	                margin: 0;
	                margin-right: -10px;
	                position: absolute;
	                width: 1em;
	                -moz-box-shadow: none;
	                -webkit-box-shadow: none;
	                box-shadow: none;

			        -webkit-transition: transform 250ms ease, top 250ms ease;
			        -moz-transition: transform 250ms ease, top 250ms ease;
			        -o-transition: transform 250ms ease, top 250ms ease;
			        transition: transform 250ms ease, top 250ms ease;
	            }

	            &:after {
            	    top: -0.35em;
        	        height: .17em;
	            }

	            &:before {
	                top: 0.33em;
	            }
	        }
	    }
	}
}